SECRET_KEY="your-django-secret-key"
DEBUG=True
ALLOWED_HOSTS="localhost 127.0.0.1 [::1]"
POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name
PG_HOST=postgres-db
PG_PORT=5432
SIGNING_KEY=your-jwt-signing-key
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_HOST_USER=your_mailtrap_user
EMAIL_HOST_PASSWORD=your_mailtrap_password
EMAIL_PORT=2525
DOMAIN=localhost:8080
CELERY_BROKER=redis://redis:6379/0
CELERY_BACKEND=redis://redis:6379/0
